In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from matplotlib.backends.backend_pdf import PdfPages
from astropy.wcs import WCS
from astropy import units as u
from astropy.coordinates import SkyCoord
#pd.options.mode.copy_on_write = True
from astropy.table import Table
from astropy.cosmology import FlatLambdaCDM
import multiprocessing as mp
from tqdm import tqdm
from astropy.time import Time
cosmo = FlatLambdaCDM(name='Planck18', H0=67.66, Om0=0.30966, Tcmb0=2.7255, Neff=3.046, m_nu=[0.  , 0.  , 0.06]* u.eV, Ob0=0.04897)
cores = 2

In [2]:
crossmatch_df = pd.read_csv('../CrossMatch/DESIRT_one_arcsecond_crossmatch_final_list.csv')
DESIRT_lc = pd.read_csv('../LightCurves/DESIRT_lightcurves_final_list.csv')

In [4]:
interesting = np.load('../UploadToFritz/interesting.npy')

In [15]:
interesting_dict = {"STANDARD_NAME" : interesting}
interesting_df = pd.DataFrame(data = interesting_dict)
interesting_df = pd.merge(interesting_df, crossmatch_df, on='STANDARD_NAME', how='inner')
interesting_df.rename(columns={"ra_obj": "RA", "dec_obj" : "DEC"})
interesting_df.head()

,STANDARD_NAME,21A,22A,22B,23A,23B,ra_obj,dec_obj
0,A202204211423123m005116,NaN,A202204211423123m005116,NaN,NaN,NaN,215.801045,-0.854565
1,T202210060350237m154301,NaN,NaN,T202210060350237m154301,NaN,NaN,57.598765,-15.716956
2,C202210060349568m152123,NaN,NaN,C202210060349568m152123,NaN,NaN,57.486793,-15.356516
3,C202311050349356m152913,NaN,NaN,NaN,NaN,C202311050349356m152913,57.398318,-15.486978
4,C202310060349100m161333,NaN,NaN,NaN,NaN,C202310060349100m161333,57.291634,-16.225747

In [16]:
interesting_df.columns

Index(['STANDARD_NAME', '21A', '22A', '22B', '23A', '23B', 'ra_obj',
       'dec_obj'],
      dtype='object')